* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --branco: #ffffff;
    --font1: Verdana;
}
    
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

header {
    background: linear-gradient(90.05deg, #000000 24.85%, #006384 64.76%, #002F45 99.45%), #006384;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-family: var(--font1);
    display: flex;
    justify-content: center;
}
.botao_nav {
    display: flex;
    justify-content: space-between;
    color: var(--branco);
    align-items: center;
    width: 96%;
}
.logo {
    width: 5%;
}
.botao_fechar svg {
    fill: var(--branco);
    text-decoration: none;
    height: 40px;
}

/*BANNER*/

.banner {
    background-image: url(../../assets/img/background.png); 
    /* height: auto;  */
     height: 944px; 
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Respansividade*/

@media screen and (max-width: 768px) {
    h1{
        font-size: 15px;
    }
     .banner{
        height: 1800px;
    } 
    .botao_fechar svg {
        height: 15px;
    } 
     .div_alinhamento_data_pedidos{
        display: flex;
        flex-direction: column; 
        width: 50%;
    } 
    .div_alinhamento_data{
        width: 150%; 
        font-size: 15px; 
    }  
    .div_alinhamento_porpedidos{
        width: 150%;
        font-size: 15px;  
    } 
    .div_alinhamento_botao{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .botao_gerar{
        width: 150%;
        margin: 20px;
    } 

    
}